<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="{{boardGamePreview.Image}}">
      </div>
      <div class="card-body">
        <div>
            <h5>{{boardGamePreview.Title}}</h5>
            <h5>Rating: {{averageRating}}</h5>

        </div>


      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary mr-2" (click)="onRateClicked()">Rate game</button>
          <button *ngIf="isOwner" routerLink="/edit-boardgame/{{boardGamePreview.objectId}}" class="btn btn-success mr-2">Edit</button>
          <button *ngIf="isOwner && !boardGamePreview.OnSale" class="btn btn-danger" (click)="onSaleClicked()">List for sale</button>
          <button *ngIf="isOwner && boardGamePreview.OnSale" class="btn btn-dark" (click)="onSaleClicked()">Not for sale</button>
        </div>
        <div class="form-group col-12" *ngIf="isRateClicked">
          <form (ngSubmit)='onSubmit()' [formGroup]="addRatingForm">
          <div *ngIf="isRated">
            <br>
            <h6>Your have already rated this game with: {{currentRating.Rating}}</h6>
            <br>
          </div>
            <div class="btn-group" btnRadioGroup formControlName='Rating'>
              <label
              *ngFor="let number of ratingNumbers"
              role="button" tabindex="0" class="btn btn-outline-primary mr-2"
              [btnRadio]="number"
              name="MinPlayers"
              >{{number}}
            </label>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit your Rating</button>
          </form>

        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <!-- <p>{{property.Name}}</p> -->
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <!-- <p>{{property.FloorNo}}</p> -->
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <!-- <p>{{property.AOP}}</p> -->
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <!-- <p>{{property.Possession}}</p> -->
                  </div>
              </div>


              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <!-- <p>{{property.Description}}</p> -->
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Video Tutorial">
          <div class="col-sm-12" *ngIf="boardGamePreview.VideoUrl">

            <youtube-player [videoId]="boardGamePreview.VideoUrl" (ready)="savePlayer($event)"
            (change)="onStateChange($event)"></youtube-player>
        </div>

        </tab>
        <tab heading="Photos">
          <h1>Photos</h1>
        </tab>
      </tabset>
    </div>
  </div>
</div>
