.boardGameImage {
  max-height: 350px;
  width: auto;
}

.boardGameTitle {
  font-style: italic;
  font-size: large;
  text-align: center;
  color: white;
  margin: 15px auto 20px auto;
}

.card-immage-wrapper:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.6;
}

.card-immage-wrapper img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-immage-wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #05182ecf;
}

.imgage-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-immage-wrapper:hover .imgage-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.4s ease-in-out;
}

.card {
  border: 2px solid #f8ffb091;
  background: none;
}

.card-body {
  background: linear-gradient(135deg, rgb(5 21 47 / 50%) 100%, rgba(24,13,77,1) 100%);
  min-height: 220px;
}

.boardGameTitle{
  text-align: center;
  color: white
}

h5, h6 {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
