<div class="row mb-5">
  <div class="col-8">
<div class="card">
  <div class="card-header">
    <h5>Add new Boardgame</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' [formGroup]="addBoardGameForm">
      <div>
        <tabset #formTabs>

          <!-- TAB BASIC INFORMATION -->
          <tab heading="Basic info" formGroupName="BasicInfo">
            <!-- <div class="form-group col-12">
              <p>I want to</p>
                <div class="btn-group" btnRadioGroup name='OnSale' [(ngModel)]="propertyView.OnSale">
                  <label class="btn btn-outline-primary mr-2"
                  btnRadio='true' tabindex="0" role="button" name="OnSale">Yes</label>
                  <label class="btn btn-outline-primary"
                  btnRadio='false' tabindex="0" role="button" name="OnSale">No</label>
                </div>
            </div> -->

            <div class="form-group col-12">
              <label for="Title">Game Title</label>
              <input type="text" class="form-control" formControlName="Title"
                [(ngModel)]="boardGamePreview.Title"/>
              <div class="error-block"
                *ngIf="Title.invalid && (nextClicked || Title.touched)">
                Please provide game Title
              </div>
            </div>

            <div class="form-group col-12">
              <label for="Publisher">Game Publisher</label>
              <input type="text" class="form-control" formControlName="Publisher"
                [(ngModel)]="boardGamePreview.Publisher"/>
              <div class="error-block"
                *ngIf="Publisher.invalid && (nextClicked || Publisher.touched)">
                Please provide game Publisher
              </div>
            </div>

            <div class="form-group col-12">
              <label for="Designer">Game Designer</label>
              <input type="text" class="form-control" formControlName="Designer"
                [(ngModel)]="boardGamePreview.Designer"/>
              <div class="error-block"
                *ngIf="Designer.invalid && (nextClicked || Designer.touched)">
                Please provide game Designer
              </div>
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary mr-2" (click)="onBack()">Back</button>
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(1, BasicInfo.valid)">Next</button>
            </div>
          </tab>

          <!-- TAB GAME DETAILS -->
          <tab heading="Game details" formGroupName="GameDetails">
            <div class="form-group col-12">
              <p>Мinimum Players Count</p>
                <div class="btn-group" btnRadioGroup formControlName='MinPlayers'
                [(ngModel)]="boardGamePreview.MinPlayers">
                  <label
                  *ngFor="let minPlayers of players"
                  role="button" tabindex="0" class="btn btn-outline-primary mr-2"
                  [btnRadio]="minPlayers"
                  name="MinPlayers"
                  >{{minPlayers}}
                </label>
                </div>
                <div class="error-block" *ngIf="MinPlayers.invalid && nextClicked">
                  Please select minimum players
                </div>
            </div>


            <div class="form-group col-12">
                <p>Maximum Players Count</p>
                  <div class="btn-group" btnRadioGroup formControlName='MaxPlayers'
                  [(ngModel)]="boardGamePreview.MaxPlayers">
                    <label
                    *ngFor="let maxPlayers of players"
                    role="button" tabindex="0" class="btn btn-outline-primary mr-2"
                    [btnRadio]="maxPlayers"
                    name="MaxPlayers"
                    >{{maxPlayers}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="MaxPlayers.invalid && nextClicked">
                    Please select maximum players
                  </div>
            </div>

            <div class="form-group col-12">
              <p>Мinimum Playing time</p>
                <div class="btn-group" btnRadioGroup formControlName='MinPlayingTime'
                [(ngModel)]="boardGamePreview.MinPlayingTime">
                  <label
                  *ngFor="let minTime of minutes"
                  role="button" tabindex="0" class="btn btn-outline-primary mr-2"
                  [btnRadio]="minTime"
                  name="MinPlayingTime"
                  >{{minTime}}
                </label>
                </div>
                <div class="error-block" *ngIf="MinPlayingTime.invalid && nextClicked">
                  Please select minimum playing time
                </div>
            </div>

            <div class="form-group col-12">
                <p>Maximum Playing time</p>
                  <div class="btn-group" btnRadioGroup formControlName='MaxPlayingTime'
                  [(ngModel)]="boardGamePreview.MaxPlayingTime">
                    <label
                    *ngFor="let maxTime of minutes"
                    role="button" tabindex="0" class="btn btn-outline-primary mr-2"
                    [btnRadio]="maxTime"
                    name="MaxPlayingTime"
                    >{{maxTime}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="MaxPlayingTime.invalid && nextClicked">
                    Please select maximum playing time
                  </div>
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(0, BasicInfo.valid)">Previous</button>
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(2, BasicInfo.valid)">Next</button>
            </div>
          </tab>

          <!-- TAB VIDEO TUTORIAL -->
          <tab heading="Video tutorial" formGroupName="VideoTutorial">
            <div class="form-group col-12">
              <label for="video">Video Url</label>
              <input type="text" class="form-control" formControlName="VideoUrl"/>
              <div class="error-block"
                *ngIf="VideoUrl.invalid && (nextClicked || VideoUrl.touched)">
                Please provide video url
              </div>
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(1, BasicInfo.valid)">Previous</button>
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(3, BasicInfo.valid)">Next</button>
            </div>
          </tab>

          <!-- TAB PHOTOS -->
          <tab heading="Photos" formGroupName="GamePhotos">
            <div class="form-group col-12">
              <div class="photo-control">
                  <label for="game_img">Upload game image</label>
                  <input type="file"  id="game_img"  (change)="handleFileInput($event.target.files)">
              </div>
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary mr-2" (click)="selectTab(2, BasicInfo.valid)">Previous</button>
              <button type="submit" class="btn btn-primary mr-2">Save</button>
              <button type="reset" class="btn btn-primary mr-2">Cancel</button>
            </div>
          </tab>
        </tabset>
      </div>

    </form>
  </div>

  </div>
</div>

<div class="col-4">
  <div class="card-header">
    <h5>Your BoardGame Preview</h5>
    <div>
      <app-boardgame-card [boardGame]="boardGamePreview"></app-boardgame-card>
    </div>
  </div>
</div>
</div>


